<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome on the home page</h1>

  <%= render "user/session_manager" %>

    <hr class="my-8">
    <div id="home"></div>
  </body>
</html>



